.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; /* Set a high z-index value to ensure it stays on top */
  }
  
  .company-name {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar-right li {
    padding: 10px;
  }
  
  .navbar-right li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar-right li:not(:last-child) {
    margin-right: 20px;
  }
  
  .navbar-right li a:hover {
    color: #ffca28;
  }
  