/* Nav */

.nav-translate{
  margin-left: 5px;
}
.navbar-brand{
  padding-right: 200px;
}

.language-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

/* Header */
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0%, rgba(92, 77, 66, 0.6) 100%), url("../assets/img/Images/foot.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

section#about {
  padding-top: 0px;
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0%, rgba(92, 77, 66, 0.6) 100%), url("../assets/img/Images/foot.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

.orange-text {
  color: #f4623a;
}

.orange-icon {
  margin-right: 5px;
}

header.masterhead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0%, rgba(92, 77, 66, 0.6) 100%), url("../assets/img/Images/foot.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

}

header.masthead h1, header.masthead .h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masterhead{
    height: 10vh;
    min-height: 20rem;
    padding-top: 4.5rem;
    padding-bottom: 0; 
  }
  header.masthead p, header.masterhead p{
    font-size: 1.15rem;
  }
  header.masthead h1, header.masthead .h1,  header.masterhead h1, header.masterhead .h1  {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1, header.masthead .h1   header.masterhead h1, header.masterhead .h1 {
    font-size: 3.5rem;
  }
}

.testimonials {
  padding-top: 60px;
  padding-bottom: 0px;
  color: white;
}

  /* Signup and Login Section Styles */
  section#signup,
  section#login {
    background-image: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0%, rgba(92, 77, 66, 0.6) 100%), url("../assets/img/Images/Robinni.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .signup-login {
    background-repeat: no-repeat;
    background-size: 1440px 900px;  
    text-align: center;
    
    padding: 250px 20px;
    display: none;
  }
  
  .login {
    background-repeat: no-repeat;
    background-size: 1440px 900px;  
    text-align: center;
    padding: 180px 20px;
  }
  
  .signup-login h2,
  .login h2 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }
  
  .signup-login p,
  .login p {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
  }
  
  .form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-container input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
/*-------------portfolio--------------------------*/
#portfolio{
  padding-left: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 20px;

}
.card-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 250px; 
}

.card-image-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-description p {
  margin: 0;
  padding: 0;
}

.card-description a {
  margin-top: 15px;
}

.card-image-wrapper:hover .card-description {
  opacity: 1;
}
/*-------------booking--------------------------*/

.booking {
  padding: 20px;
 padding-left: 50px;
  text-align: left;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  
}
.booking {
  background-image: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0%, rgba(92, 77, 66, 0.6) 100%), url('../assets/img/Images/foot_4.jpeg');
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}
#sentence{
  margin-top: 10px;
}
.booking h2{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
.username {
  margin-bottom: 20px;
}

.username label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.username input[type="text"] {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.username input[type="text"]:focus {
  outline: none;
  border-color: #f4623a;
  box-shadow: 0 0 5px #f4623a;
}

.coach-selection,
.time-selection,
.day-selection,
.session-selection{
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  padding: 10px;
  width: 250px;
  border: 1px solid #f4623a;
  border-radius: 4px;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  background-color: #f4623a;
  color: #f4623a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #f4623a;
}
/* Cart styles */
.cart {
  text-align: center;
  min-height: 20rem;
  padding: 40px;
}

.total-price {
  margin-bottom: 20px;
}

.receipt {
  display: grid;
  grid-template-columns: 1fr; 
  grid-gap: 10px; 
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 400px;
  background-color: #f4623a;
  padding: 20px;
  border-radius: 4px;
  color: white;
}

.receipt-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#receipt p {
  margin: 0;
}

#receipt #cart-message {
  text-align: center;
}

.receipt-item p {
  margin: 0;
}

.receipt-item button {
  display: block;
  margin-top: 5px;
}


/*  Pay */

.PayNow{
  margin-top: 100px;
  background-image: linear-gradient(to bottom, rgba(255, 251, 248, 0.879) 0%, rgba(255, 235, 220, 0.892) 100%), url('../assets/img/Images/foot_6.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}


  /*----------------Support-----------------------*/

    .team-members {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 100px;
    }
    
    .team-member {
      text-align: center;
      width: 250px;
      margin-bottom: 40px;
    }
    
    .team-member img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
    .rating {
      text-align: center;
      padding-top: 60px;
      padding-bottom: 160px;
    }
    
    .rating h2 {
      margin-bottom: 10px;
    }
    
    .rating form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      
    }
    
    .rating-form-row {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .rating-form-row select {
      order: 1;
    }
    
    .rating-stars {
      display: flex;
      flex-direction: row-reverse; 
      order: 2;
    }
    
    .rating-stars input[type="radio"] {
      display: none;
    }
    
    .rating-stars label {
      cursor: pointer;
      padding: 5px;
    }
    
    .rating-stars label:before {
      content: "\2605";
      font-size: 30px;
    }
    
    .rating-stars input[type="radio"]:checked ~ label:before {
      color: #f4623a;
    }
    
    .rating-form-row input[type="submit"] {
      order: 3;
    }
    
    .rating form select,
    .rating form input[type="submit"] {
      padding: 10px;
    }
    
    .stars {
      display: flex;
      flex-direction: row-reverse;
    }
    
    .stars input[type="radio"] {
      display: none;
    }
    
    .stars label {
      cursor: pointer;
      padding: 5px;
    }
    
    .stars label:before {
      content: "\2605";
      font-size: 30px;
    }
    
    .stars input[type="radio"]:checked ~ label:before {
      color: #f4623a;
    }
    
    input[type="radio"] {
      display: none;
    }
    
    input[type="radio"] + label {
      color: #ccc;
    }
    
    input[type="radio"]:checked + label {
      color: #f4623a;
    }
    
    .rating i {
      color: #f4623a;
      font-size: 24px;

    }
    .image-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
    }
    
    .contact-image {
      width: 500px;
      height: auto;
      margin-right: 20px;
    }
    

    /*----------------Footer-----------------------*/
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .footer-info-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  .footer-info-item {
    margin: 5px;
  }
  .footer-copyright{
    padding-top: 3px;
  }

  .footer-copyright {
    text-align: center;
  }
  


